@mixin button($button-color, $bg-color) {
  height: 50px;
  width: 160px;
  border-radius: 360px;
  background-color: $button-color;
  border: none;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: $bg-color;
  }
}

@mixin flexer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


@mixin logo{
    font-size: 60px;
}